<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Sales Predictor</title>
     <link rel="stylesheet" href="..\static\style.css">
</head>
<body>
            <!-- Website title on top -->
            <div class="container">
                <h2 class='container-heading'><span class="heading_font">Game Sales Predictor</span></h2>
                <div class='description'>
                    <p>A Machine Learning Web App</p>
                </div>
            </div>

<!--#region ml-container  -->

    <!-- Text area depending on user interaction -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="genre" placeholder="Name of the Genre"><br>
                <input class="form-input" type="text" name="platform" placeholder="Name of the Platform"><br>
                <input class="form-input" type="text" name="publisher" placeholder="Name of the Publisher"><br>

                 <!--Submit button-->
        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>

            <!--Picture-->
            <img class="profile-icon" src="..\static/Game Sales Predictor.png" alt="ML">

    	</div>
<!--#endregion -->

        <!-- Footer -->
        <div class='footer'>
            <p class='footer-description'>Made by Group 4<p>
        </div>
</body>
</html>
