html{
	height: 100%;
	margin: 0;
}

body{
	font-family: verdana;
    text-align: center;
    color: aliceblue;
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.heading_font{
    color: #ffffff;
	font-family: 'italic', cursive;
	font-size: 30px;
	font-weight: normal;
}

.container{
padding: 25px;
position: relative;
background: linear-gradient(45deg, #1b90b3, #b9f70e, #c40707);
background-size: 500% 500%;
animation: change-gradient 20s ease-in-out infinite;
}

@keyframes change-gradient {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}

.ml-container{
  margin: 30px 0;
	flex: 1 0 auto;
}

.form-input {
	text-align:center;
	width: 250px;
	height: 25px;
	margin-bottom: 5px;
}

.my-cta-button{
  margin-top: 1%;
  background:#f9f9f9;
  border: 2px solid #000000;
  border-radius: 250px;
  padding: 9px 27px;
  box-shadow: 3px 3px #cf0c3d;
}

.profile-icon{
  width: 400px;
  height:200px;
  background-position:center;
  border-radius: 20px;
  padding: 10px; 
}

.footer{
	flex-shrink: 0;
	position: relative;
	padding: 15px;
	background: linear-gradient(45deg, #1b90b3, #b9f70e, #c40707);
	background-size: 500% 500%;
	animation: change-gradient 20s ease-in-out infinite;
}